@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
 
.header{
    width: 1110px;
    padding-top: 38px;
    padding-bottom: 110px;
    margin: 0 auto;
}

.logo{
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 300;
    color: #0f0101;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.logo::first-letter{
    color: #03A9F4;
} 

 .menu li{ 
    display: block;
    float: left;
 } 

 .menu{
     float: right;
     margin-top: 8px;
 }

 .clearfix::after{ 
    content: "";
    display: table;
    clear: both;
} 


 .link{
    display: block; 
    font-weight: 700;
    font-size: 14px; 
    color: #0f0101;
    text-decoration: none; 
    text-transform: uppercase;
    text-align: right;
    list-style: none;
    font-family: 'Open Sans', sans-serif; 
 }  

 .menu li:not(:last-child){
    margin-right: 32px;
 }

 .menu li:hover a{
     color:#1abc9c;
 }

 .container{
    width: 1110px;
    margin: 0 auto 105px;
}
.product-item{
    display: block;
    float: left;
    width: 255px;
    list-style: none;
}

.product-item:not(:nth-child(n+4)){
    margin-bottom: 30px;
}

.product li:not(:nth-child(4n)){
    margin-right: 30px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* .img{ 
    width: 255px;
    height: 322px;
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
 }

.name{
    float: left;
    display: block;
    width: 201px;
    height: 40px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 30px 14px 14px;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}

.product-item:hover .name{
    background-color: #1abc9c;
}

.price{
    float: right;
    display: block;
    width: 54px;
    height: 40px;
    padding: 12px;
    background-color: gray;
    font-weight: 700;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}

.product-item:hover .price{
    background-color: #7fd9c7;
}

 .p{ 
     float: left; 
 } 

.title-1{
    font-size: 48px;
    color: rgba(81, 81, 81, 255);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 92px;
}

.title-1::after{
    content: "";
    display: block;
    background-color:  #1abc9c;
    width: 164px;
    height: 7px;
    margin: 0 auto;
    margin-top: 32px;
}

.title-2{
    font-size: 48px;
    color: rgba(81, 81, 81, 255);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.title-2::after{
    content: "";
    display: block;
    background-color:  #1abc9c;
    width: 164px;
    height: 7px;
    margin: 0 auto;
    margin-top: 32px;
}

.image-2{
    margin-bottom: 14px;
}

.text{
    font-size: 18px;
    color: rgba(85, 82, 82, 255);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 11px;
}

.text::after{
    content: "";
    display: block;
    background-color:  #1abc9c;
    width: 136px;
    height: 3px;
    margin-top: 11px;
}

.text-2{
    font-size: 14px;
    color: rgba(85, 82, 82, 255);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 29px;
}

.article{
    width: 350px;
    display: block;
    float: left;
    list-style: none;
}


.list-article li:not(:last-child){
    margin-right: 30px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.button{
    display: block;
    width: 159px;
    height: 51px;
    background-color: #1abc9c;
    color: white;
    border: 0px;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    padding-top: 17px;
}

.container-2{
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 80px;
}



